<div class="py-sm px-md mt0 card d-flex align-items-center justify-content-between">
  <div>健康概览</div>
  <div>
    <a (click)="load()"><i nz-icon nzType="sync" class="text-lg brand-color"></i></a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="msg.info('Donwload')"><i nz-icon nzType="download" class="text-lg brand-color"></i></a>
    <nz-divider nzType="vertical"></nz-divider>
    <a routerLink="/">返回控制台</a>
  </div>
</div>
<div class="container scrollbar">
  <div nz-row nzGutter="16">
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-num [title]="'服务器数量'" [value]="data.service_count" [loading]="loading"></data-healthy-num>
    </div>
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-num
        [title]="'异常数量'"
        [value]="data.err_count"
        [loading]="loading"
        [valueCls]="{ 'text-error': data.err_count > 0 }"
      ></data-healthy-num>
    </div>
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-gauge [title]="'CPU使用率'" [value]="data.cpu_usage" [loading]="loading"></data-healthy-gauge>
    </div>
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-gauge [title]="'内存使用率'" [value]="data.memory_usage" [loading]="loading"></data-healthy-gauge>
    </div>
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-gauge [title]="'磁盘使用率'" [value]="data.disk_usage" [loading]="loading"></data-healthy-gauge>
    </div>
    <div nz-col nzSm="12" nzMd="8" nzLg="4">
      <data-healthy-gauge [title]="'网络使用率'" [value]="data.network_usage" [loading]="loading"></data-healthy-gauge>
    </div>
    <div nz-col nzMd="24" nzLg="12">
      <data-healthy-disk></data-healthy-disk>
    </div>
    <div nz-col nzMd="24" nzLg="12">
      <data-healthy-gpu></data-healthy-gpu>
    </div>
    <div nz-col nzMd="24" nzLg="12">
      <data-healthy-internal></data-healthy-internal>
    </div>
    <div nz-col nzMd="24" nzLg="12">
      <data-healthy-network></data-healthy-network>
    </div>
  </div>
</div>
