<div class="d-flex justify-content-between align-items-center mb-md">
  <div class="d-flex align-items-center">
    <nz-month-picker
      [(ngModel)]="params.month"
      nzAllowClear="false"
      [nzDisabledDate]="disabledDate"
      class="width-md"
    ></nz-month-picker>
    <nz-select [(ngModel)]="params.type" class="ml-md">
      <nz-option [nzValue]="1" nzLabel="项目一"></nz-option>
      <nz-option [nzValue]="2" nzLabel="项目二"></nz-option>
    </nz-select>
    <input nz-input [(ngModel)]="params.q" placeholder="关键词" class="ml-md" />
    <button nz-button nzType="primary" (click)="st.reset()" class="ml-md">搜索</button>
  </div>
  <div>
    <custom-column [st]="st" (ok)="st.resetColumns()"></custom-column>
    <a class="ml-md brand-color" (click)="st.export()"><i nz-icon nzType="setting" class="pr-xs"></i>导出</a>
  </div>
</div>
<st #st [data]="list" [req]="{ params: params }" [columns]="columns" [scroll]="{ x: '1600px' }"></st>
