<page-bar [subTitle]="subTitTpl">
  <ng-template #subTitTpl>
    {{ domain }}
  </ng-template>
</page-bar>
<panel [title]="'基本信息'">
  <sv-container col="2" gutter="0">
    <sv label="产品名称">云解析 DNS</sv>
    <sv label="DNS服务器">
      <span nz-popover [nzContent]="dnsSrvTpl">
        <ng-template #dnsSrvTpl>
          <div>您的网站当前使用的权威DNS服务器设置为如下：</div>
          <div>dns15.xxxxx.com</div>
          <div>dns16.xxxxx.com</div>
        </ng-template>
        <span class="text-success mr-sm">正常</span>
        <i nz-icon nzType="down"></i>
      </span>
    </sv>
  </sv-container>
</panel>
<panel [title]="'配置服务'">
  <sv-container col="2">
    <sv label="最小TTL值">10 分钟</sv>
    <sv label="子域名级别">5 级</sv>
    <sv label="A记录数量限制">10 条</sv>
    <sv label="URL转发记录">2 条</sv>
    <sv label="运营商线路">中国移动、中国电信、中国联通、中国教育网</sv>
    <sv label="运营商线路细分">--</sv>
    <sv label="地域线路">--</sv>
    <sv label="世界线路">世界</sv>
    <sv label="搜索引擎">谷歌、百度、必应</sv>
    <sv label="DNS防护QPS">--</sv>
    <sv label="URL转发服务器防护">共享10G</sv>
    <sv label="网站监控节点数量">--</sv>
    <sv label="网站监控频率">--</sv>
    <sv label="网站监控任务数量">--</sv>
    <sv label="全局负载均衡">--</sv>
    <sv label="产品更换域名次数">--</sv>
  </sv-container>
</panel>
