/bin
/.vs
obj/
bin/
BenchmarkDotNet.Artifacts/
/output
*.user
*.log
/template/KissU.CodeGenerator/Results
/template/CodeGenerator/02-Result
/util
/src/KissU.Web/node_modules
/src/KissU.Web/wwwroot/dist
/src/KissU.Web/yarn.lock
/src/KissU.Web/.vs
/src/KissU.Web/Typings/app/**/*.html
!/src/KissU.Web/Typings/app/layout/**/*.html
