<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Managed Recommended Rules" Description=" " ToolsVersion="16.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1008" Action="Hidden" />
    <Rule Id="SA1009" Action="Hidden" />
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1623" Action="Hidden" />
    <Rule Id="SA1629" Action="Hidden" />
  </Rules>
</RuleSet>