
<page-header title="角色详情" [autoBreadcrumb]="false"></page-header>
<nz-card [nzBordered]="false">
    <nz-descriptions [nzBordered]="true" [nzColumn]="3">
        <nz-descriptions-item nzTitle="角色编码">{{model.code}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="角色名称">{{model.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="角色类型">{{model.type}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="管理员"><i *ngIf="model.isAdmin" nz-icon="" nzType="check"></i><i *ngIf="!(model.isAdmin)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建时间">{{ model.creationTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="备注" [nzSpan]="3">{{model.remark}}</nz-descriptions-item>
    </nz-descriptions>
</nz-card>