@page
@model RoleDto
<page-header [title]="'角色'"></page-header>
<nz-card [nzBordered]="false">
    @*查询表单*@
    @await Html.PartialAsync( "Partial/QueryForm" )
	<util-a text="添加" link="create">
         <util-icon type="Plus"></util-icon>
    </util-a>
    <util-button id="btnDelete" color="Primary" text="删除" on-click="delete(btnDelete)">
        <util-icon type="Delete"></util-icon>
    </util-button>
    <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
                说明
                <strong class="text-primary">重点</strong>
            </ng-template>
        </nz-alert>
    </div>
	@*表格*@
	<util-tree-table id="treeTable_Role" base-url="role" query-param="queryParam">
		<util-tree-table-column for="Code"></util-tree-table-column>
		<util-tree-table-column for="Name"></util-tree-table-column>
		<util-tree-table-column for="NormalizedName"></util-tree-table-column>
		<util-tree-table-column for="Type"></util-tree-table-column>
		<util-tree-table-column for="IsAdmin"></util-tree-table-column>
		<util-tree-table-column for="Comment"></util-tree-table-column>
		<util-tree-table-column for="PinYin"></util-tree-table-column>
		<util-tree-table-column for="Sign"></util-tree-table-column>
		<util-tree-table-column title="操作">
			<a nz-tooltip nzTitle="添加子级" (click)="addSubordinate(row)"></a>
            <nz-divider nzType="vertical"></nz-divider>
			<a [routerLink]="['update',row.id]">编辑</a>
			<nz-dropdown>
				<a class="ant-dropdown-link" nz-dropdown>
				  更多
				  <i nz-icon type="down"></i>
				</a>
				<ul nz-menu>
				  <li nz-menu-item><a [routerLink]="['detail',row.id]">查看</a></li>
				  <li nz-menu-item (click)="delete(null,row.id)">删除</li>
				</ul>
			</nz-dropdown>
		</util-tree-table-column>
	</util-tree-table>
</nz-card>