<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
@page
@model <%=SafeClassName%>Dto
<page-header title="<%=Description%>"></page-header>
<util-card show-border="false">
    @*查询表单*@
    @await Html.PartialAsync( "Index.Query" )
    @*工具按钮*@
	<util-button class="mr-sm" color="Primary" icon="Plus" text="新建" on-click="openCreateDialog()"></util-button>
    <util-button id="btnDelete" color="Danger" icon="Delete" text="删除" on-click="delete(btnDelete)"></util-button>
    @*提示语*@
    <util-alert class="my-md" type="Info" show-icon="true">
        已选择<strong class="text-primary mx-md">{{getCheckedNodes().length}}</strong>行
    </util-alert>
    @*表格*@
	<util-tree-table id="treeTable_<%=SafeClassName%>" base-url="<%=CamelClassName%>" query-param="queryParam">
		<% foreach(Property p in Entity.Properties) { %>
		<% if( p.IsPrimaryKey.SafeValue() ) continue; %>
		<% if( Entity.IsHidden(p) ) continue; %>
		<% if( Entity.IgnoreTreeEntityProperty(p) ) continue;%>
		<util-tree-table-column for="<%= p.PropertyName.ToSafeName() %>"></util-tree-table-column>
		<% } %>
        <util-table-column title="操作">
            <util-button class="mr-sm" color="Primary" shape="Circle" icon="Plus" tooltip="添加子级" on-click="openCreateDialog(row)"></util-button>
            <util-button class="mr-sm" id="btnMoveUp" shape="Circle" icon="ArrowUp" tooltip="上移" ng-if="!isFirst(row)" on-click="moveUp(row,btnMoveUp,$event)"></util-button>
            <util-button class="mr-sm" id="btnMoveDown" shape="Circle" icon="ArrowDown" tooltip="下移" ng-if="!isLast(row)" on-click="moveDown(row, btnMoveDown,$event)"></util-button>
            <nz-dropdown>
                <util-button class="mr-sm" shape="Circle" tooltip="更多" nz-dropdown>
                    <i nz-icon nzType="more"></i>
                </util-button>
                <util-menu id="menu">
                    <util-menu-item on-click="openEditDialog(row)">编辑</util-menu-item>
                    <util-menu-item on-click="delete(null,row.id)">删除</util-menu-item>
                    <util-menu-item on-click="openDetailDialog(row)">详情</util-menu-item>
                </util-menu>
            </nz-dropdown>
        </util-table-column>
	</util-tree-table>
</util-card>