
<page-header title="用户详情" [autoBreadcrumb]="false"></page-header>
<nz-card [nzBordered]="false">
    <nz-descriptions [nzBordered]="true" [nzColumn]="4">
        <nz-descriptions-item nzTitle="用户名" [nzSpan]="4">{{model.userName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="手机号">{{model.phoneNumber}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="手机已确认"><i *ngIf="model.phoneNumberConfirmed" nz-icon="" nzType="check"></i><i *ngIf="!(model.phoneNumberConfirmed)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="电子邮箱">{{model.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="邮箱已确认"><i *ngIf="model.emailConfirmed" nz-icon="" nzType="check"></i><i *ngIf="!(model.emailConfirmed)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="冻结时间">{{ model.disabledTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用锁定"><i *ngIf="model.lockoutEnabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.lockoutEnabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="锁定截止">{{model.lockoutEnd}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用两步认证"><i *ngIf="model.twoFactorEnabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.twoFactorEnabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="注册Ip">{{model.registerIp}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="登录次数">{{model.loginCount}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="登录失败次数">{{model.accessFailedCount}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="上次登陆时间">{{ model.lastLoginTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="上次登陆Ip">{{model.lastLoginIp}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="本次登陆时间">{{ model.currentLoginTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="本次登陆Ip">{{model.currentLoginIp}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建时间">{{ model.creationTime | date:"yyyy-MM-dd HH:mm:ss" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="备注" [nzSpan]="3">{{model.remark}}</nz-descriptions-item>
    </nz-descriptions>
</nz-card>