<page-bar></page-bar>
<nz-tabset nzType="card" [(nzSelectedIndex)]="params.index" (nzSelectedIndexChange)="changeType()" class="mt-md">
  <nz-tab *ngFor="let t of types" [nzTitle]="t"></nz-tab>
</nz-tabset>
<div class="mb-md">
  <button nz-popconfirm (nzOnConfirm)="remove()" nzTitle="Confirm?" nz-button [disabled]="checkList.length === 0">
    删除
  </button>
  <ng-container *ngIf="params.type !== 'read'">
    <button (click)="remove()" nz-button [disabled]="checkList.length === 0">标记已读</button>
    <button (click)="remove()" nz-button>全部已读</button>
  </ng-container>
</div>
<st #st [data]="url" [pi]="pi" [columns]="columns" [req]="{ params: params }" (change)="change($event)" class="mb-md">
  <ng-template st-row="title" let-i>
    <nz-badge *ngIf="!i.read" nzStatus="processing"></nz-badge>
    <a
      routerLink="/notifications/inner/{{ params.type }}/detail/{{ i.id }}"
      [state]="{ pi: st.pi, type: params.type, index: params.index }"
      [ngClass]="{ 'text-grey': i.read }"
      >{{ i.title }}</a
    >
  </ng-template>
</st>
