<page-bar></page-bar>
<div class="d-flex m-lg p-lg" style="max-width: 800px;">
  <div class="min-width-sm text-center text-primary">
    <i class="iconfont icon-dns icon-lg"></i>
  </div>
  <div class="">
    <h1 class="text-primary">{{ 'dns.menu.gtm' | i18n }}</h1>
    <p>{{ 'dns.gtm.welcome.description' | i18n }}</p>
    <strong class="pt-md">{{ 'dns.gtm.welcome.introTitle' | i18n }}</strong>
    <div class="pt-xs">{{ 'dns.gtm.welcome.tip1' | i18n }}</div>
    <div class="pt-xs">{{ 'dns.gtm.welcome.tip2' | i18n }}</div>
    <div class="pt-xs">{{ 'dns.gtm.welcome.tip3' | i18n }}</div>
    <div class="pt-xs">{{ 'dns.gtm.welcome.tip4' | i18n }}</div>
    <button class="mt-md" nz-button nzType="primary">{{ 'dns.gtm.authorize' | i18n }}</button>
  </div>
</div>
