<div class="py-sm text-center">自助工具</div>
<div class="scrollbar tools-content">
  <div class="mb-sm" *ngFor="let p of tools" [hidden]="!p.expand">
    <div class="bg-grey-3 text-center">{{ p.title }}</div>
    <div class="d-flex align-items-center py-sm">
      <a *ngFor="let i of p.list" routerLink="{{ i.link }}" class="d-block p-xs width-100 text-center">
        <i nz-icon [nzType]="i.icon"></i>
        <div class="text-xs">{{ i.title }}</div>
      </a>
    </div>
  </div>
  <div (click)="toggleExpaned()" class="tools-btn">{{ expand ? '收起' : '展开' }}全部工具</div>
  <nz-carousel class="tools-ad" nzAutoPlay nzEffect="fade" (nzAfterChange)="fixOnPush()">
    <div *ngFor="let i of guanggao" nz-carousel-content>
      <img src="{{ i.mp }}" />
      <ul class="list-unstyled mt-sm">
        <li *ngFor="let ii of i.list">
          <a>{{ ii.title }}</a>
        </li>
      </ul>
    </div>
  </nz-carousel>
</div>
