@model KissU.Authentication.Models.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>登录</title>
    <link rel="stylesheet" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
@if (Model.EnableLocalLogin)
{
    <div class="wrap login_wrap">
        <div class="content">
            <div class="logo"></div>
            <div class="login_box">
                <div class="login_form">
                    <div class="login_title">
                        登录
                    </div>
                    <form asp-route="Login" autocomplete="off">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="form_text_ipt">
                            <input asp-for="UserName" class="name" placeholder="手机号/邮箱">
                        </div>
                        <div class="ececk_warning">
                            <span>手机号/邮箱不允许为空</span>
                        </div>
                        <div class="form_text_ipt">
                            <input asp-for="Password" class="password" type="password" placeholder="密码">
                        </div>
                        <div class="ececk_warning">
                            <span>密码不能为空</span>
                        </div>
                        <div class="form_check_ipt">
                            <div class="left check_left">
                                <label><input asp-for="Remember" type="checkbox"> 下次自动登录</label>
                            </div>
                            <div class="right check_right">
                                <a href="#">忘记密码</a>
                            </div>
                        </div>
                        @if (Model.Message != null)
                        {
                            <div class="ececk_message">
                                <span>!</span>@Model.Message</div>
                        }
                        <div class="form_btn">
                            <button name="button" value="login">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
</body>
</html>


@*<form asp-route="Login">


        <fieldset>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
            </div>
            @if( Model.AllowRemember ) {
                <div class="form-group login-remember">
                    <label asp-for="Remember">
                        <input asp-for="Remember">
                        <strong>Remember My Login</strong>
                    </label>
                </div>
            }
            <div class="form-group">
                <button class="btn btn-primary" name="button" value="login">Login</button>
                <button class="btn btn-default" name="button" value="cancel">Cancel</button>
            </div>
            <div>use either bob/bob, alice/alice or your Google account</div>
        </fieldset>
    </form>*@


@*@if( Model.VisibleExternalProviders.Any() ) {
        <span>External Login</span>
        foreach( var provider in Model.VisibleExternalProviders ) {
            <li>
                <a class="btn btn-default"
                   asp-controller="External"
                   asp-action="Challenge"
                   asp-route-provider="@provider.AuthenticationScheme"
                   asp-route-returnUrl="@Model.ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        }
    }

    @if( !Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any() ) {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }*@