@model KissU.Authentication.Models.LogoutViewModel
<div class="row">
    <div class="col-sm-6">
        <p>Are you sure you are logged out?</p>
        <form asp-action="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <div class="form-group">
                    <button class="btn btn-primary">Yes</button>
                </div>
        </form>
    </div>
</div>