<page-bar></page-bar>
<form *ngIf="i" se-container="1" size="compact" nz-form (ngSubmit)="save()" #f="ngForm" class="max-width-xxl mb-lg">
  <se-title>基本信息</se-title>
  <se label="会员身份" required>企业/政府</se>
  <se label="单位名称" required>上海xxxxx有限公司</se>
  <se label="营业年限" required>
    <nz-select [(ngModel)]="i.enterpriseYear" name="enterpriseYear">
      <nz-option nzLabel="3年以内" [nzValue]="0"></nz-option>
      <nz-option nzLabel="5年以内" [nzValue]="1"></nz-option>
      <nz-option nzLabel="10年以内" [nzValue]="2"></nz-option>
      <nz-option nzLabel="10年以上" [nzValue]="3"></nz-option>
    </nz-select>
  </se>
  <se label="企业规模" required>
    <nz-select [(ngModel)]="i.enterpriseSize" name="enterpriseSize">
      <nz-option nzLabel="1人" [nzValue]="1"></nz-option>
    </nz-select>
  </se>
  <se-title>业务信息</se-title>
  <se label="行业应用" required>
    <nz-select [(ngModel)]="i.mainBizCategory" name="mainBizCategory">
      <nz-option nzLabel="你猜" [nzValue]="1"></nz-option>
    </nz-select>
  </se>
  <se label="主营业务" required>
    <input nz-input [(ngModel)]="i.biz" name="biz" required maxlength="50" placeholder="产品名" />
  </se>
  <se label="网址">
    <input nz-input [(ngModel)]="i.website" name="website" maxlength="50" />
  </se>
  <se-title>联系信息</se-title>
  <se label="国家/地区">
    <input nz-input [(ngModel)]="i.nationalityCode" name="nationalityCode" disabled />
  </se>
  <se label="所在地区" required>
    <address [(ngModel)]="i.geo" name="geo" required></address>
  </se>
  <se label="街道地址">
    <input nz-input [(ngModel)]="i.address" name="address" />
  </se>
  <se label="联系电话">
    <input nz-input [(ngModel)]="i.tel" name="tel" placeholder="例如：021-00000000" />
  </se>
  <se>
    <button nz-button nzType="primary" [disabled]="f.invalid">保存</button>
  </se>
</form>
