
<page-header title="模块详情" [autoBreadcrumb]="false"></page-header>
<nz-card [nzBordered]="false">
    <nz-descriptions [nzBordered]="true" [nzColumn]="3">
        <nz-descriptions-item nzTitle="应用程序" [nzSpan]="3">{{model.applicationName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="模块名称">{{model.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="父模块">{{model.parentName}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="模块地址" [nzSpan]="3">{{model.url}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="备注" [nzSpan]="3">{{model.remark}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建时间">{{ model.creationTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="排序号">{{model.sortId}}</nz-descriptions-item>
    </nz-descriptions>
</nz-card>