@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}
<div class="welcome-page">
    <div class="row">
        <div class="col-sm-8">
            <img src="~/architecture.png">
        </div>
    </div>
</div>