<account-topbar theme="light"></account-topbar>
<div class="box">
  <div class="box-banner">
    <h1>Work with us</h1>
    <div class="max-width-lg">
      Our researchers are embedded in teams across computer science, to discover, invent, and build at the largest
      scale.
    </div>
  </div>
  <div class="box-login login">
    <div class="login__wrap">
      <ng-container *ngIf="type === 'user'">
        <h2 class="login__title">{{ 'account.login.user.title' | i18n }}</h2>
        <div class="login__type ant-popover-placement-left">
          <div class="ant-popover-content login__type-tip">
            <i class="ant-popover-arrow"></i>
            <div class="ant-popover-inner">{{ 'account.login.qr.title' | i18n }}</div>
          </div>
          <i nz-icon nzType="qrcode" class="login__type-icon" (click)="type = 'qr'"></i>
        </div>
        <div class="mt-md">
          <form nz-form #f="ngForm" nzLayout="vertical" [formGroup]="form" (ngSubmit)="submit()" role="form">
            <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
            <div class="mt-md">
              <input
                formControlName="userName"
                nz-input
                nzSize="large"
                autocomplete="off"
                placeholder="username: admin or user"
              />
            </div>
            <div class="mt-md">
              <input
                nz-input
                type="password"
                nzSize="large"
                autocomplete="off"
                formControlName="password"
                placeholder="password: ng-alain.com"
              />
            </div>
            <div class="mt-md">
              <button
                nz-button
                nzType="primary"
                nzSize="large"
                nzBlock
                type="submit"
                [disabled]="f.invalid"
                [nzLoading]="http.loading"
              >
                {{ 'account.login.user.login' | i18n }}
              </button>
            </div>
          </form>
        </div>
        <div class="mt-lg text-right">
          <a routerLink="/account/forget" class="mr-md">{{ 'account.login.user.forget' | i18n }}</a>
          <a routerLink="/account/register">{{ 'account.login.user.register' | i18n }}</a>
        </div>
        <div class="user-other">
          {{ 'account.login.user.sign-in-with' | i18n }}
          <i (click)="t()" nz-icon nzType="alipay-circle"></i>
          <i (click)="t()" nz-icon nzType="taobao-circle"></i>
          <i (click)="t()" nz-icon nzType="weibo-circle"></i>
        </div>
      </ng-container>
      <ng-container *ngIf="type === 'qr'">
        <h2 class="login__title">{{ 'account.login.qr.title' | i18n }}</h2>
        <div class="login__type ant-popover-placement-left">
          <div class="ant-popover-content login__type-tip">
            <i class="ant-popover-arrow"></i>
            <div class="ant-popover-inner">{{ 'account.login.user.title' | i18n }}</div>
          </div>
          <i nz-icon nzType="desktop" class="login__type-icon" (click)="type = 'user'"></i>
        </div>
        <div class="login__qr">
          <div class="login__qr-img">
            <img src="//qr.liantu.com/api.php?text=https://e.ng-alain.com/" height="140" width="140" />
            <div class="login__qr-error">
              <p>{{ 'account.login.qr.error' | i18n }}</p>
              <button (click)="t()" nz-button nzType="primary">{{ 'account.login.qr.refresh' | i18n }}</button>
            </div>
          </div>
          <div class="login__qr-desc">
            <i nz-icon nzType="scan"></i>
            <div class="text-xs text-left">
              {{ 'account.login.qr.open' | i18n }}
              <span class="text-grey">{{ 'account.login.qr.appname' | i18n }}</span>
              <div>{{ 'account.login.qr.scan' | i18n }}</div>
            </div>
          </div>
          <div class="mt-lg text-right">
            <a (click)="t()" class="mr-md">{{ 'account.login.qr.downapp' | i18n }}</a>
            <a routerLink="/account/register">{{ 'account.login.user.register' | i18n }}</a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
