<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
@page
@model <%=SafeClassName%>Dto
<page-header [title]="'<%=Description%>'"></page-header>
<nz-card [nzBordered]="false">
    @*查询表单*@
    @await Html.PartialAsync( "Partial/QueryForm" )
	<util-a text="添加" link="create" color="Primary" ></util-a>
    <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
                说明
                <strong class="text-primary">重点</strong>
            </ng-template>
        </nz-alert>
    </div>
	@*表格*@
	<util-tree-table id="treeTable_<%=SafeClassName%>" base-url="<%=CamelClassName%>" query-param="queryParam">
		<% foreach(Property p in Entity.Properties) { %>
		<% if( p.IsPrimaryKey.SafeValue() ) continue; %>
		<% if( Entity.IsHidden(p) ) continue; %>
		<% if( Entity.IgnoreTreeEntityProperty(p) ) continue;%>
		<util-tree-table-column for="<%= p.PropertyName.ToSafeName() %>"></util-tree-table-column>
		<% } %>
		<util-tree-table-column title="操作">
			<a nz-tooltip nzTitle="添加子级" (click)="addSubordinate(row)"></a>
            <nz-divider nzType="vertical"></nz-divider>
			<a [routerLink]="['update',row.id]">编辑</a>
			<nz-divider nzType="vertical"></nz-divider>
			<nz-dropdown>
				<a class="ant-dropdown-link" nz-dropdown>
				  更多
				  <i nz-icon type="down"></i>
				</a>
				<ul nz-menu>
				  <li nz-menu-item [routerLink]="['detail',row.id]">查看</li>
				  <li nz-menu-item (click)="delete(null,row.id)">删除</li>
				</ul>
			</nz-dropdown>
		</util-tree-table-column>
	</util-tree-table>
</nz-card>