<div class="modal-header">
  <div class="modal-title">{{ i.id > 0 ? '编辑' : '添加' }}记录</div>
</div>
<form nz-form #f="ngForm" (ngSubmit)="save()">
  <div se-container="1">
    <se label="记录类型">
      <nz-select [(ngModel)]="i.type" name="type">
        <nz-option nzLabel="A - 将域名指向一个IPV4地址" [nzValue]="'A'"></nz-option>
        <nz-option nzLabel="CNAME - 将域名指向另外一个域名" [nzValue]="'CNAME'"></nz-option>
      </nz-select>
    </se>
    <se [label]="typeLabelTpl">
      <ng-template #typeLabelTpl>
        <label>
          主机记录
          <i nz-popover [nzPopoverContent]="typeHelpTpl" nz-icon nzType="question-circle"></i>
          <ng-template #typeHelpTpl>
            <div>主机记录就是域名前缀，常见用法有：</div>
            <div><strong>www：</strong>解析后的域名为www.ng-alain.com。</div>
            <div><strong>＠：</strong>直接解析主域名 ng-alain.com。</div>
          </ng-template>
        </label>
      </ng-template>
      <nz-input-group nzAddOnAfter=".ng-alain.com">
        <input type="text" nz-input [(ngModel)]="i.rR" name="rR" required />
      </nz-input-group>
    </se>
    <se [label]="lineLabelTpl">
      <ng-template #lineLabelTpl>
        <label>
          解析线路
          <i nz-popover [nzPopoverContent]="lineHelpTpl" nz-icon nzType="question-circle"></i>
          <ng-template #lineHelpTpl>
            <div>如果只有一个IP地址或CNAME域名，请务必选择【默认】。</div>
            <div><strong>默认：</strong>必填！未匹配到智能解析线路时，返回【默认】线路设置结果。</div>
            <div><strong>境外：</strong>向除中国大陆以外的其他国家和地区，返回设置的记录值。</div>
          </ng-template>
        </label>
      </ng-template>
      <nz-select [(ngModel)]="i.line" name="line" style="width: 402px;">
        <nz-option
          nzLabel="默认 - 必填！未匹配到智能解析线路时，返回【默认】线路设置结果"
          [nzValue]="'default'"
        ></nz-option>
        <nz-option nzLabel="中国联通" [nzValue]="'中国联通'"></nz-option>
        <nz-option nzLabel="中国电信" [nzValue]="'中国电信'"></nz-option>
      </nz-select>
    </se>
    <se label="记录值" required>
      <input nz-input [(ngModel)]="i.value" name="value" required />
    </se>
    <se label="TTL" required>
      <nz-select [(ngModel)]="i.tTL" name="tTL">
        <nz-option nzLabel="10 分钟" [nzValue]="600"></nz-option>
        <nz-option nzLabel="30 分钟" [nzValue]="1800"></nz-option>
      </nz-select>
    </se>
    <se *ngIf="i.id == 0">
      <label nz-checkbox [(ngModel)]="i.sync" name="sync">同步默认线路</label>
    </se>
  </div>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button nzType="primary" [disabled]="f.invalid" [nzLoading]="http.loading">
      保存
    </button>
  </div>
</form>
