
<page-header title="编辑应用程序"></page-header>
<nz-card [nzBordered]="false">
    <form #form="ngForm" nz-form="">
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">应用程序编码</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="code" requiredMessage="应用程序编码不能为空" [(model)]="model.code" [maxLength]="60" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">应用程序名称</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="name" requiredMessage="应用程序名称不能为空" [(model)]="model.name" [maxLength]="200" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">备注</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="comment" [(model)]="model.comment" [maxLength]="500"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">启用注册</nz-form-label><nz-form-control [nzSpan]="18"><nz-switch name="registerEnabled" [(ngModel)]="model.registerEnabled">启用注册</nz-switch></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16">
            <nz-form-control [nzOffset]="2" [nzSpan]="18">
                <x-button #btnSubmit="" (onClick)="submit(form,btnSubmit)" class="mr-sm" color="primary" [validateForm]="true"></x-button>
                <x-button (onClick)="back()" text="返回"></x-button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>