@model KissU.Services.Identity.Quickstart.Account.LoginViewModel
@{
    ViewData["hide-navbar"] = true;
}

<div class="login-page">
    <div class="page-header text-center">
        <a class="header-logo" href="~/">
            <img height="48" width="48" src="~/logo-color.svg">
        </a>
        <h1>Sign in to KissU</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form asp-route="Login" class="auth-form">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">
                                        Password
                                        <a class="label-link" href="~/Account/PasswordReset">Forgot password?</a>
                                    </label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>Remember My Login</strong>
                                        </label>
                                    </div>
                                }

                                <div>
                                    <p>The default users is admin, password: Pass123$</p>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" name="button" value="login">Sign in</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <p class="create-account-callout mt-3">
                    New to KissU?
                    <a href="~/Account/Join">Create an account</a>.
                </p>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-12 col-sm-12 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
    <div class="footer">
        <div class="container-lg p-responsive py-6 mt-6 f6">
            <ul class="list-style-none d-flex flex-justify-center">
                <li class="mr-3"><a href="" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
                <li class="mr-3"><a href="" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
                <li class="mr-3"><a href="" data-ga-click="Footer, go to security, text:security">Security</a></li>
                <li><a class="link-gray" href="" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

