@page
@model MenuDto
<page-header title="菜单"></page-header>
<util-card show-border="false">
    @*查询表单*@
    @await Html.PartialAsync( "Index.Query" )
    @*工具按钮*@
    <util-a class="mr-sm" color="Primary" icon="Plus" text="新建" link="create"></util-a>
    <util-button id="btnDelete" color="Danger" icon="Delete" text="删除" on-click="delete(btnDelete)"></util-button>
    @*提示语*@
    <util-alert class="my-md" type="Info" show-icon="true">
        已选择<strong class="text-primary mx-md">{{getCheckedLength()}}</strong>行
    </util-alert>
    @*表格*@
	<util-tree-table id="treeTable_Menu" base-url="menu" query-param="queryParam">
		<util-tree-table-column for="Code"></util-tree-table-column>
		<util-tree-table-column for="Name"></util-tree-table-column>
		<util-tree-table-column for="PinYin"></util-tree-table-column>
		<util-tree-table-column for="I18n"></util-tree-table-column>
		<util-tree-table-column for="Group"></util-tree-table-column>
		<util-tree-table-column for="Link"></util-tree-table-column>
		<util-tree-table-column for="LinkExact"></util-tree-table-column>
		<util-tree-table-column for="ExternalLink"></util-tree-table-column>
		<util-tree-table-column for="Target"></util-tree-table-column>
		<util-tree-table-column for="Icon"></util-tree-table-column>
		<util-tree-table-column for="Badge"></util-tree-table-column>
		<util-tree-table-column for="BadgeDot"></util-tree-table-column>
		<util-tree-table-column for="BadgeStatus"></util-tree-table-column>
		<util-tree-table-column for="Disabled"></util-tree-table-column>
		<util-tree-table-column for="Hide"></util-tree-table-column>
		<util-tree-table-column for="HideInBreadcrumb"></util-tree-table-column>
		<util-tree-table-column for="Acl"></util-tree-table-column>
		<util-tree-table-column for="Shortcut"></util-tree-table-column>
		<util-tree-table-column for="ShortcutRoot"></util-tree-table-column>
		<util-tree-table-column for="Reuse"></util-tree-table-column>
		<util-tree-table-column for="Open"></util-tree-table-column>
		<util-tree-table-column for="Note"></util-tree-table-column>
		<util-tree-table-column title="操作">
			<a nz-tooltip nzTitle="添加子级" (click)="addSubordinate(row)"></a>
            <nz-divider nzType="vertical"></nz-divider>
			<a [routerLink]="['update',row.id]">编辑</a>
			<nz-divider nzType="vertical"></nz-divider>
			<nz-dropdown>
				<a class="ant-dropdown-link" nz-dropdown>
				  更多
				  <i nz-icon type="down"></i>
				</a>
				<ul nz-menu>
				  <li nz-menu-item [routerLink]="['detail',row.id]">查看</li>
				  <li nz-menu-item (click)="delete(null,row.id)">删除</li>
				</ul>
			</nz-dropdown>
		</util-tree-table-column>
	</util-tree-table>
</util-card>