
<div class="alain-default__content-title">
    <h1>
        GreatWall
        <small>.Net Core平台下的权限管理系统,使用 Util 应用框架开发，建立在 Identity 和 Identity Server 之上</small>
    </h1>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">123,456</div>
                <p class="text-nowrap mb0">Website Traffics</p>
            </div>
            <div nz-col nzSpan="12">
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-success rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">234,567K</div>
                <p class="text-nowrap mb0">Website Impressions</p>
            </div>
            <div nz-col nzSpan="12">
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-orange rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">$458,778</div>
                <p class="text-nowrap mb0">Total Sales</p>
            </div>
            <div nz-col nzSpan="12">
            </div>
        </div>
    </div>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
        <div nz-row nzType="flex" nzAlign="middle" class="bg-magenta rounded-md">
            <div nz-col nzSpan="12" class="p-md text-white">
                <div class="h2 mt0">456</div>
                <p class="text-nowrap mb0">Support Tickets</p>
            </div>
            <div nz-col nzSpan="12">
            </div>
        </div>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="basicLine">
            <ng-template #basicLine>
                折线图
                <small class="text-sm font-weight-normal">基础折线图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <x-line url="/api/line"></x-line>
            </v-chart>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="multiLine">
            <ng-template #multiLine>
                折线图
                <small class="text-sm font-weight-normal">多条折线图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <x-line url="/api/line/multi"></x-line>
            </v-chart>
        </nz-card>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="basicColumn">
            <ng-template #basicColumn>
                柱状图
                <small class="text-sm font-weight-normal">基础柱状图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <x-column url="/api/column"></x-column>
            </v-chart>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="groupColumn">
            <ng-template #groupColumn>
                柱状图
                <small class="text-sm font-weight-normal">分组柱状图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <v-legend></v-legend>
                <x-column url="/api/column/group"></x-column>
            </v-chart>
        </nz-card>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="stackColumn">
            <ng-template #stackColumn>
                柱状图
                <small class="text-sm font-weight-normal">堆叠柱状图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <x-column url="/api/column/group" isStack="false"></x-column>
            </v-chart>
        </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzTitle]="complexColumn">
            <ng-template #complexColumn>
                复合柱状图
                <small class="text-sm font-weight-normal">分组折线柱状图</small>
            </ng-template>
            <v-chart [forceFit]="true" [height]="275">
                <v-tooltip></v-tooltip>
                <v-axis></v-axis>
                <v-legend></v-legend>
                <x-line url="/api/line/multi"></x-line>
                <x-column url="/api/column/group"></x-column>
            </v-chart>
        </nz-card>
    </div>
</div>