
<page-header title="编辑应用程序" [autoBreadcrumb]="false"></page-header>
<nz-card [nzBordered]="false">
    <form #form="ngForm" autocomplete="off" nz-form="">
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="4">应用程序编码</nz-form-label><nz-form-control [nzSpan]="20"><x-textbox name="code" requiredMessage="应用程序编码不能为空" [(model)]="model.code" [maxLength]="60" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="4">应用程序名称</nz-form-label><nz-form-control [nzSpan]="20"><x-textbox name="name" requiredMessage="应用程序名称不能为空" [(model)]="model.name" [maxLength]="200" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="4">备注</nz-form-label><nz-form-control [nzSpan]="20"><x-textbox name="comment" [(model)]="model.comment" [maxLength]="500"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="4">启用</nz-form-label><nz-form-control [nzSpan]="20"><nz-switch name="enabled" [(ngModel)]="model.enabled">启用</nz-switch></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="4">启用注册</nz-form-label><nz-form-control [nzSpan]="20"><nz-switch name="registerEnabled" [(ngModel)]="model.registerEnabled">启用注册</nz-switch></nz-form-control></nz-form-item>
        <nz-form-item nzJustify="end" nzType="flex" [nzGutter]="16">
            <nz-form-control class="w-auto" [nzSpan]="20">
                <x-button (onClick)="close()" class="mr-sm" text="取消"></x-button>
                <x-button #btnSubmit="" (onClick)="submit(form,btnSubmit)" color="primary" [validateForm]="true"></x-button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>