<page-bar></page-bar>
<nz-alert nzMessage="提醒：您可以为每类消息设置接收人" class="mb-md"></nz-alert>
<nz-table #nzTable [nzData]="data">
  <thead>
    <tr>
      <th nzWidth="250px">消息类型</th>
      <th class="text-center" nzWidth="100px">站内信</th>
      <th class="text-center" nzWidth="100px">邮箱</th>
      <th class="text-center" nzWidth="100px">短信</th>
      <th>消息接收人</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of data">
      <tr nzExpand>
        <td nzShowExpand [(nzExpand)]="p.expand" nzIndentSize="0">{{ p.title }}</td>
        <td class="text-center">
          <label nz-checkbox [(ngModel)]="p.innerMsg.value" [nzDisabled]="p.innerMsg.disabled"></label>
        </td>
        <td class="text-center">
          <label nz-checkbox [(ngModel)]="p.email.value" [nzDisabled]="p.email.disabled"></label>
        </td>
        <td class="text-center"><label nz-checkbox [(ngModel)]="p.sms.value" [nzDisabled]="p.sms.disabled"></label></td>
        <td>{{ p.linkName }}<a class="ml-xs brand-color text-xs">修改</a></td>
      </tr>
      <ng-container *ngFor="let i of p.children">
        <tr [(nzExpand)]="p.expand">
          <td nzIndentSize="10">
            {{ i.title }}
            <i *ngIf="i.tip" nz-tooltip="{{ i.tip }}" nz-icon nzType="question-circle" nzTheme="fill" class="pl-xs"></i>
          </td>
          <td class="text-center">
            <label nz-checkbox [(ngModel)]="i.innerMsg.value" [nzDisabled]="i.innerMsg.disabled"></label>
          </td>
          <td class="text-center">
            <label nz-checkbox [(ngModel)]="i.email.value" [nzDisabled]="i.email.disabled"></label>
          </td>
          <td class="text-center">
            <label nz-checkbox [(ngModel)]="i.sms.value" [nzDisabled]="i.sms.disabled"></label>
          </td>
          <td>{{ i.linkName }}<a class="ml-xs brand-color text-xs">修改</a></td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>
