header {
    background: #1e1b29;
    border-bottom: solid 4px red;
    height: 50px;
    width: 100%;
}

.member_wrap { }

.header_item { overflow: hidden; }

.user_menu {
    background: url(../img/banner_bg.jpg) repeat;
    height: 170px;
    padding: 20px 0;
    width: 100%;
}

.header_item {
	
    margin: 0 auto;
    width: 980px;
}

.menu_head {
    border: solid 3px #fff;
    border-radius: 100px;
    height: 100px;
    overflow: hidden;
    width: 100px;
}

.menu_head img {
    height: 100%;
    width: 100%;
}

.menu_info {
    margin-left: 20px;
    width: 840px;
}

.info_name {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

.info_name_box { margin-top: 10px; }

.level {
    color: #f60;
    font-size: 14px;
    font-weight: bold;
}

.info_desc {
    color: #FFF;
    font-size: 14px;
    margin-top: 10px;
}

.banner_menu {
    background: #fff;
    height: 50px;
    margin: 20px auto;
    width: 980px;
}


.nav_box { margin-top: 50px; }

.nav_box ul { overflow: hidden; }

.nav_box ul li {
    display: block;
    padding: 0 20px;
}

.nav_box ul li a {
    color: #fff;
    font-size: 16px;
}

.nav_box ul li a:hover { color: red; }





.login_wrap {
    /*background: url(../img/logo_bg.jpg) no-repeat center;*/
    background-size: 100%;
}

.logo {
    height: 150px;
    margin: 0px auto;
    width: 500px;
    /* background: url(../img/logowz.png) no-repeat center; */
}

.login_box {
    background: #FFFFFF;
    margin: 0px auto;
    padding-bottom: 30px;
    width: 360px;
}

.login_form {
    position: relative;
    width: 100%;
}

.login_form form {
    overflow: hidden;
    position: relative;
}

.login_title {
    border-bottom: solid 1px #CCCCCC;
    color: #888888;
    font-size: 18px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    width: 300px;
}

.form_text_ipt {
    background: #FFFFFF;
    border: solid 1px #CCCCCC;
    height: 40px;
    margin: 20px auto 0 auto;
    width: 300px;
}

.form_check_ipt {
    margin: 20px auto 10px auto;
    overflow: hidden;
    width: 300px;
}

.form_text_ipt input {
    border: none;
    color: #666;
    font-family: "微软雅黑";
    font-size: 14px;
    height: 30px;
    margin: 5px;
    width: 290px;
}

.check_left label { cursor: pointer; }

.check_left label input {
    position: relative;
    top: 2px;
}

.form_btn {
    height: 40px;
    margin: 10px auto;
    margin-top: 20px;
    width: 300px;
}

.form_btn button {
    background: #3f89ec;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    height: 100%;
    transition: background 0.3s;
    width: 100%;
}

.form_btn button:hover { background: #1891ff; }

.form_btn button[disabled] { background: #cccccc; }

.form_reg_btn {
    color: #666;
    font-size: 14px;
    margin: 0 auto;
    width: 300px;
}

.other_login {
    height: 80px;
    line-height: 80px;
    margin: 0px auto;
    overflow: hidden;
    width: 300px;
}

.other_left {
    color: #999;
    font-size: 14px;
}