<div class="my-md p-md card">
  <div class="d-flex align-items-center mb-md">
    <span>搜索开票月份：<range-picker [(ngModel)]="i.start" [(ngModelEnd)]="i.end"></range-picker></span>
    <span class="ml-md">
      发票状态：
      <nz-select [(ngModel)]="i.status">
        <nz-option [nzValue]="0" nzLabel="全部"></nz-option>
        <nz-option [nzValue]="1" nzLabel="开票中"></nz-option>
        <nz-option [nzValue]="2" nzLabel="已开票"></nz-option>
        <nz-option [nzValue]="3" nzLabel="已作废"></nz-option>
      </nz-select>
    </span>
    <input nz-input [(ngModel)]="i.q" placeholder="关键词" class="ml-md width-sm" />
    <button nz-button nzType="primary" (click)="st.reset(i)" class="ml-md">搜索</button>
  </div>
  <st #st data="/finance" ps="6" [req]="{ params: i }" [columns]="columns"></st>
</div>
