<page-bar [subTitle]="subTitleTpl">
  <ng-template #subTitleTpl>
    <div class="text-orange">
      以下只展示部分组件，更多组件<a href="https://ng.ant.design" target="_blank">ng.ant.design</a>
    </div>
  </ng-template>
  <button (click)="msg.success('clean')" nz-button>清理</button>
  <button (click)="msg.success('remove')" nz-button nzType="danger">移除</button>
  <button (click)="msg.success('add')" nz-button nzType="primary">新增</button>
</page-bar>
<nz-alert nzType="warning" [nzMessage]="warningTpl">
  <ng-template #warningTpl>
    提示：域名信息模板可用于域名注册、域名持有者变更等，请填写真实、准确、完整的域名持有者信息！<br />
    根据ICANN政策要求，域名注册人Email必须真实准确，为了方便日后管理使用，强烈建议您及时对信息模板中的Email邮箱进行验证。
    <a (click)="msg.success('more')">了解更多</a>
  </ng-template>
</nz-alert>
<div nz-row nzGutter="32" class="mt-md">
  <div nz-col nzMd="24" nzXl="12">
    <nz-card nzTitle="Button">
      <button nz-button nzType="primary">Primary</button>
      <button nz-button nzType="default">Default</button>
      <button nz-button nzType="dashed">Dashed</button>
      <button nz-button nzType="danger">Danger</button>
    </nz-card>
    <nz-card nzTitle="Input">
      <div class="mb-sm"><input nz-input placeholder="Basic usage" [(ngModel)]="value" /></div>
      <div class="mb-sm">
        <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>
      <div>
        <textarea
          nz-input
          placeholder="Autosize height with minimum and maximum number of lines"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        ></textarea>
      </div>
    </nz-card>
    <nz-card nzTitle="Dropdown">
      <a nz-dropdown [nzDropdownMenu]="hoverMenu"> Hover me <i nz-icon nzType="down"></i> </a>
      <nz-dropdown-menu #hoverMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a>1st menu item</a>
          </li>
          <li nz-menu-item>
            <a>2nd menu item</a>
          </li>
          <li nz-menu-item>
            <a>3rd menu item</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button nzType="default" nz-dropdown [nzDropdownMenu]="btnMenu" class="ml-md">
        <span>Button</span> <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #btnMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a>1st menu item</a>
          </li>
          <li nz-menu-item>
            <a>2nd menu item</a>
          </li>
          <li nz-menu-item>
            <a>3rd menu item</a>
          </li>
        </ul>
      </nz-dropdown-menu>
      <button nz-button nzType="primary" nz-dropdown [nzDropdownMenu]="btn2Menu" class="ml-md">
        <span>Button</span> <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #btn2Menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>
            <a>1st menu item</a>
          </li>
          <li nz-menu-item>
            <a>2nd menu item</a>
          </li>
          <li nz-menu-item>
            <a>3rd menu item</a>
          </li>
        </ul>
      </nz-dropdown-menu>
    </nz-card>
    <nz-card nzTitle="Pagination">
      <nz-pagination [nzPageIndex]="1" [nzTotal]="50" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
    </nz-card>
    <nz-card nzTitle="Feedback">
      <div class="d-flex align-items-center mb-sm">
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
        <nz-modal
          [(nzVisible)]="isVisible"
          nzTitle="The first Modal"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
        >
          <p>Content one</p>
          <p>Content two</p>
          <p>Content three</p>
        </nz-modal>
        <a class="ml-md" nz-popconfirm nzTitle="Are you sure delete this task?">Pop Confirm</a>
      </div>
      <div class="mb-sm">
        Message:
        <button nz-button (click)="msg.success('Success')">Success</button>
        <button nz-button (click)="msg.error('Error')">Error</button>
        <button nz-button (click)="msg.warning('Warning')">Warning</button>
        <button nz-button (click)="msg.info('Info')">Info</button>
      </div>
      <div>
        Notification:
        <button nz-button (click)="notify.success('Success', 'Content')">Success</button>
        <button nz-button (click)="notify.error('Error', 'Content')">Error</button>
        <button nz-button (click)="notify.warning('Warning', 'Content')">Warning</button>
        <button nz-button (click)="notify.info('Info', 'Content')">Info</button>
      </div>
    </nz-card>
    <nz-card nzTitle="Progress">
      <nz-progress [nzPercent]="30"></nz-progress>
      <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
      <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
      <nz-progress [nzPercent]="100"></nz-progress>
      <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
    </nz-card>
  </div>
  <div nz-col nzMd="24" nzXl="12">
    <nz-card nzTitle="Tabs">
      <nz-tabset [nzTabBarExtraContent]="extraTemplate" [nzType]="'card'">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="'Tab' + tab"> Content of tab {{ tab }} </nz-tab>
      </nz-tabset>
      <ng-template #extraTemplate>
        <button nz-button nzSize="small">Extra Action</button>
      </ng-template>
      <nz-tabset class="mt-md">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="'Tab' + tab"> Content of tab {{ tab }} </nz-tab>
      </nz-tabset>
    </nz-card>
    <nz-card nzTitle="Display">
      <div class="mb-sm">
        <nz-tag>default</nz-tag>
        <nz-tag [nzColor]="'magenta'">magenta</nz-tag>
        <nz-tag [nzColor]="'red'">red</nz-tag>
        <nz-tag [nzColor]="'volcano'">volcano</nz-tag>
        <nz-tag [nzColor]="'orange'">orange</nz-tag>
      </div>
    </nz-card>
    <nz-card nzTitle="Tree">
      <nz-tree [nzData]="nodes" nzCheckable nzMultiple nzExpandAll></nz-tree>
    </nz-card>
    <nz-card nzTitle="Breadcrumb">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          Home
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>Application List</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          An Application
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-card>
    <nz-card nzTitle="Steps">
      <nz-steps>
        <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
        <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
      </nz-steps>
    </nz-card>
  </div>
</div>
