<account-topbar></account-topbar>
<div class="account-box">
  <div class="account-box__wrap">
    <div class="register" style="width: 320px; margin: 0 auto; padding: 48px 0;">
      <h1 class="text-center">{{ 'account.register.title' | i18n }}</h1>
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
        <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'validation.email.wrong-format' | i18n">
            <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-user">
              <input nz-input formControlName="mail" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'validation.password.required' | i18n">
            <nz-input-group
              nzSize="large"
              nzAddonBeforeIcon="lock"
              nz-popover
              nzPopoverPlacement="right"
              nzPopoverTrigger="focus"
              [(nzVisible)]="visible"
              nzOverlayClassName="register-password-cdk"
              [nzOverlayStyle]="{ 'width.px': 240 }"
              [nzPopoverContent]="pwdCdkTpl"
            >
              <input nz-input type="password" formControlName="password" placeholder="Password" />
            </nz-input-group>
            <ng-template #pwdCdkTpl>
              <div style="padding: 4px 0;">
                <ng-container [ngSwitch]="status">
                  <div *ngSwitchCase="'ok'" class="success">{{ 'validation.password.strength.strong' | i18n }}</div>
                  <div *ngSwitchCase="'pass'" class="warning">{{ 'validation.password.strength.medium' | i18n }}</div>
                  <div *ngSwitchDefault class="error">{{ 'validation.password.strength.short' | i18n }}</div>
                </ng-container>
                <div class="progress-{{ status }}">
                  <nz-progress
                    [nzPercent]="progress"
                    [nzStatus]="passwordProgressMap[status]"
                    [nzStrokeWidth]="6"
                    [nzShowInfo]="false"
                  ></nz-progress>
                </div>
                <p class="mt-sm">{{ 'validation.password.strength.msg' | i18n }}</p>
              </div>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'validation.password.twice' | i18n">
            <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-lock">
              <input nz-input type="password" formControlName="confirm" placeholder="Confirm Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'validation.phone-number.wrong-format' | i18n">
            <nz-input-group nzSize="large" [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="mobilePrefix" style="width: 100px;">
                  <nz-option [nzLabel]="'+86'" [nzValue]="'+86'"></nz-option>
                  <nz-option [nzLabel]="'+87'" [nzValue]="'+87'"></nz-option>
                </nz-select>
              </ng-template>
              <input formControlName="mobile" nz-input placeholder="Phone number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'validation.verification-code.required' | i18n">
            <nz-row [nzGutter]="8">
              <nz-col [nzSpan]="12">
                <nz-input-group nzSize="large" nzAddonBeforeIcon="anticon anticon-mail">
                  <input nz-input formControlName="captcha" placeholder="Captcha" />
                </nz-input-group>
              </nz-col>
              <nz-col [nzSpan]="12">
                <button
                  type="button"
                  nz-button
                  nzSize="large"
                  (click)="getCaptcha()"
                  [disabled]="count"
                  nzBlock
                  [nzLoading]="http.loading"
                >
                  {{ count ? count + 's' : ('account.register.get-verification-code' | i18n) }}
                </button>
              </nz-col>
            </nz-row>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <div class="d-flex align-items-center justify-content-between">
            <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="http.loading" class="submit">
              {{ 'account.register.register' | i18n }}
            </button>
            <a routerLink="/account/login">{{ 'account.register.sign-in' | i18n }}</a>
          </div>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
